:root {
  /* use when background is light */
  --font-color-bg-light: #333;

  /* use when background is primary color (yellow) */
  --font-color-bg-primary: #764701;

  --primary-color: #ffbb11;
  --primary-color-darken: #ac8112;

  --secondary-color: #ddd;

  --danger-text: #ff0000;

  --radius: 6px;
  --radius-plus: 10px;

  --transition-fast: 0.4s;
  --transition-slow: 0.8s;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: helvetica;
  color: inherit;
  vertical-align: baseline;
}

body {
  /* padding refers to header height */
  padding-top: 66px;
}

p {
  color: var(--font-color-bg-light);
}

/* FONTS */
@font-face {
  font-family: "helvetica";
  src: url(./assets/fonts/helvetica/Helvetica.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "spectral";
  src: url(./assets/fonts/spectral/Spectral-Regular.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

.helvetica {
  font-family: helvetica, Arial, sans-serif;
}

.spectral {
  font-family: spectral;
}

/*  IMAGES */
img[src$=".jpg"][src$=".jpeg"][src$=".png"] {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  object-fit: cover;
}

/* SHADOWS */

.shadow-primary:hover {
  box-shadow: 0px 0px 18px 9px rgba(255, 187, 17, 0.4),
    100px 6px 0px -189px rgba(255, 187, 17, 0.06);
}
.shadow-secondary:hover {
  box-shadow: 0px 0px 0px 5px rgba(255, 187, 17, 0.4);
}
.shadow-secondary-color:hover {
  box-shadow: 0px 0px 0px 5px rgba(221, 221, 221, 0.4);
}

/* ANIMATIONS */

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft var(--transition-slow) forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}

/* NAVLINK REACT ROUTER DOM */

nav .active > * {
  box-shadow: 0px 0px 0px 5px rgba(255, 187, 17, 0.4);
  background-color: #fff;
}

nav .active svg > * {
  fill: var(--primary-color);
}
